{% extends 'layout.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="container">
    <header class="text-center py-5 cabecera" >
        <div class="container">
            <h1>Bienvenido a la Página de Agente inteligente</h1>
            <p class="lead">detección temprana y seguimiento de la osteoartritis mediante técnicas de aprendizaje automático aplicadas a imágenes médicas rayos X.</p>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 " id="card" >
                    <h2>¿Qué es la Osteoartritis?</h2>
                    <p>La osteoartritis es una enfermedad articular degenerativa que afecta a millones de personas en todo el mundo. Se caracteriza por el deterioro del cartílago que amortigua los extremos de los huesos, lo que provoca dolor, rigidez e inflamación en las articulaciones.</p>
                </div>
                <div class="col-lg-6 cont-foto">
                    <img src="https://magazine.medlineplus.gov/images/uploads/main_images/rheumatoidvosteo-sm18.jpg" alt="Imagen sobre osteoartritis" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Information Section -->
    <section id="info" >
        <div class="container">
            <h2 class="text-center">Información sobre la Osteoartritis</h2>
            <p class="lead text-center">Conozca los síntomas, las causas y las opciones de tratamiento.</p>
            <div class="row">
                <div class="col-md-4 " id="card">
                    <h3>Síntomas</h3>
                    <p>Los síntomas de la osteoartritis incluyen dolor en las articulaciones, rigidez, pérdida de flexibilidad, sensación de fricción en las articulaciones y formación de espolones óseos.</p>
                </div>
                <div class="col-md-4 " id="card">
                    <h3>Causas</h3>
                    <p>Las causas de la osteoartritis incluyen el envejecimiento, lesiones articulares, obesidad, genética y deformidades óseas.</p>
                </div>
                <div class="col-md-4 " id="card">
                    <h3>Tratamientos</h3>
                    <p>Los tratamientos para la osteoartritis incluyen medicamentos, terapia física, pérdida de peso, ejercicios de fortalecimiento, y en casos graves, cirugía de reemplazo articular.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center py-4">
        <div class="container">
            <p>&copy; 2024 Osteoartritis. Todos los derechos reservados.</p>
            <p>Contacto: <a href="jramoss2@fcpn.edu.bo" >admin@willrodri.xyz</a></p>
        </div>
    </footer>
</div>
{% endblock content %}    <!-- Welcome Section -->
 