<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
    <div class="container-fluid">
        <div class="cont-logo" style="width: 48px; height: 48px; margin-right: 16px;">
            <img style="width:100% ;" src="/static/imagenes/1/pngwing.com.png" alt="">
        </div>
      <!-- Site Logo Here -->
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Agente Inteligente</a>
      <!-- Mobile Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMobileToggle">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Inicio</a>
              </li>
              {% if session.admin_name %}
              
              <li class="nav-item ">
                  <a class="nav-link" href="/admin/pacientes">Pacientes</a>
              </li>
              {% if session.tipo=='admin' %}
              <li class="nav-item">
                  <a class="nav-link" href="/medicos">Medicos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/administradores">Administradores</a>
              </li>
              {% endif %}
              {% endif %}
          </ul>
          {% if session.admin_name %}
          <!-- Right Side -->
          <div class="btn-group float-end">
                 <a href="#" class="nav-link" data-bs-toggle="dropdown">{{session.admin_name}}
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
   <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
   <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
  </svg>
                </a>
                 <ul class="dropdown-menu dropdown-menu-end">
                     <li><a href="/admin/change-admin-password" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
  </svg>Cambiar Contraseña</a></li>
                     <li>
                         <hr class="dropdown-divider">
                     </li>
                     <li><a href="/admin/logout" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
  </svg> Cerrar Sesión</a></li>
                 </ul>
             </div>
             {% else %}
             
             <div class="btn-group float-end">
               <a href="/admin/" class="nav-link">Ingresar 
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                   <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                   <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                 </svg>
              </a>
             </div>
             {% endif %}
         </div>
       </div>
  </nav>